# app
Flask==0.12.2
Flask-RESTful==0.3.5
validate_email==1.3
requests-oauthlib==0.8.0
bcrypt==3.1.3
marshmallow==2.15.1
marshmallow-validators==2.0.0
marshmallow-jsonschema==0.3.0
python-dateutil==2.6.0
inflection==0.3.1
python-slugify==1.2.4
flask-caching==1.3.2
gunicorn==19.7.1
pyfcm==1.3.1
netaddr==0.7.19
bs4
jsonfinder
captcha
XlsxWriter==1.0.2

# generate db schema draw
sqlalchemy_schemadisplay

# db
SQLAlchemy==1.1.10
sqlalchemy-diff==0.1.3
psycopg2==2.6.2
flask-alembic
Flask-SQLAlchemy==2.2
redis==2.10.5
rq==0.8.0
rq-scheduler>=0.7.0

# Tests
flask-testing==0.6.2